.Display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    display: flex;
}

.word {
    display: flex;
}

.size {
    display: flex;
    width: 30rem;
    height: 30rem;
}

.buttons {
    display: flex;
    padding-top: 2rem;
    width: 50rem;
    justify-content: center;
}

.botton2 {
    display: flex;
    margin-left: 2rem;
}
